---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "My awesome portfolio website" } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ClientRouter />
  </head>

  <body
    class="bg-background text-foreground transition-colors duration-300 min-h-dvh h-full"
  >
    <Header />
    <main class="max-w-5xl mx-auto px-6 py-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
